*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    /* overflow: hidden; */
  }



  body {
    font-family: "Poppins", sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
  }

  .navbar a, .link-text {
    font-family: "Poppins", sans-serif;
  }

  .sejarah, .box h1, .box p, .layanan, .footer h1, .footer h4, .google-maps h3 {
    font-family: "Poppins", sans-serif;
  }

  
  .tentang-kami {
    width: 100%;
    height: 300px;
    background-image: url("/image/Tentang Kami gedung.png");
    background-size: cover;
    background-position: center;
    padding-top: 40px;
  }
  
  .tentang-kami h1 {
    max-width: 100%;
    padding: 40px;
    margin-right: 5%;
    margin-left: -390px;
    color: white;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .tentang-kami h1 .typing-text {
    animation: typing 6s steps(30) infinite;
    display: inline-block;
  }
  
  .tentang-kami h1 .cursor {
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 70px;
    background-color: white;
    animation: blink 1s step-end infinite;
  }
  
  @keyframes typing {
    0% { width: 0; }

    100% { width: 100%; }
  }
  
  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }
  
  
  















  
  /* Responsiveness */
  @media screen and (max-width: 768px) {
    .tentang-kami h1 {
      font-size: 50px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .tentang-kami h1 {
      font-size: 40px;
    }
  }
  

/* NAVBAR */

header {
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  /* background-image: url("/image/bg.png"); */
  background-color: #ffffff;
  transition: background-color .7s ease-in-out;
}


.logo {
  margin-right: 20px;
}

.logo img {
  height: 60px;
  scale: 0;
}
.navbar.scrolled {
  background-color: rgb(12, 45, 138); /* Ganti dengan warna latar belakang yang diinginkan */
  .logo img{
    scale: 1.1;
  }
}

.navbar{
  margin-top: -20px;
}

.nav-links {
  font-size: 21px;
  margin-top: -50px;
  margin-left: auto; /* Menggunakan "auto" untuk menggeser ke kanan */
  display: flex; /* Menampilkan link dalam satu baris */
  align-items: center; /* Mengatur penempatan vertikal ke tengah */
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  transition: .2s;
  position: relative;
}

.nav-links a:hover{
  color: black;
  background-color: #fff;
}

.nav-links a i {
  margin-right: 10px;
}

.nav-links .about-link {
  margin-left: 700px; /* Menambahkan jarak yang lebih jauh antara ikon telepon dan "Tentang kami" */
  padding: 10px;
}

.nav-links .contact-link {
  margin-left: 60px; /* Menambahkan jarak yang lebih jauh antara ikon telepon dan "Tentang kami" */
  padding: 10px;
}

.nav-links a::before {
  content: "";
  display: none;
}

.nav-links a.contact-link {
  border: 2px solid rgb(223, 203, 203); /* Ubah sesuai dengan warna border yang diinginkan untuk link "Hubungi kami" */
  /* margin-left: 600px; */
}

.nav-links a.about-link {
  border: 2px solid rgb(216, 206, 206); /* Ubah sesuai dengan warna border yang diinginkan untuk link "Tentang kami" */
  /* margin-left: 200px; */
  /* margin-right: -700px; */
}


@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    margin-top: 10px;
  }

  .nav-links a {
    margin: 10px 0;
  }
}



/* VISI AND MISI */

.section-2 {
  overflow: hidden;
  margin-bottom: 30px;
}

.sejarah {
  margin: 0 auto;
  max-width: 800px;
  padding: 40px;
  
}

.sejarah h1 {
  font-size: 80px;
  margin-bottom: 20px;
  color: #000000;
  text-align: center;
  font-weight: bold;
}

.sejarah p {
  font-size: 20px;
  margin-bottom: 30px;
  color: #000000;
  text-align: justify;
}


.section-2 {
  padding: 90px;
  background-color: #f8f8f8;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-sm-6 {
  flex-basis: 50%;
  max-width: 50%;
  padding: 25px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: all 0.3s ease;
  height: 450px;
  background-color: #13005a;
  color: #ffffff;
}

.box h1 {
  font-size: 50px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
  font-weight: bold;
  color: #000000;
  background-color: rgb(255, 255, 255);
}

.visi {
  background-color: #03c988;
}

.misi {
  background-color: #03c988;
}

.content {
  text-align: center;
}

.content p {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .col-sm-6 {
    flex-basis: 100%;
    max-width: 100%;
  }
}



.section-3 {
  overflow: hidden;
  margin-bottom: 60px;
  background-image: url("/image/bg\ repair\ instalasi.png");
  background-size: cover;
  background-position: center;
  height: 830px;


}


.layanan {
  margin: 0 auto;
  max-width: 100%;
  padding: 60px;
  padding-right: 90px;
  margin-left: 5%;
  margin-right: 5%;
}

.layanan h1 {
  color: white;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
}

.layanan p {
  /* background-image: url("/image/bg\ repair\ instalasi.png"); */
  color: white;
  font-size: 20px;
  margin: 0 100px 0 170px;
  margin-top:30px ;
  text-align: center;
  font-weight: bold;
}

.pls {
  max-width: 200px;
  height: 200px;
  margin-right: 5%;
}

.pls2 {
  max-width: 200px;
  height: 200px;
}

/* Responsiveness */
@media screen and (max-width: 768px) {
  .section-3 {
    height: auto;
  }
  
  .layanan {
    padding: 20px;
  }

  .layanan h1 {
    font-size: 50px;
  }

  .layanan p {
    margin-right: 0;
  }

  .pls, .pls2 {
    max-width: 100%;
    height: auto;
    margin-right: 0;
    margin-bottom: 20px;
  }
}



.section_4{
  background-color: rgb(12, 45, 138);
  padding-bottom: 30px;
  padding-top: 40px;
  margin-top: -60px;
}

.gambar img {
  margin: 50px 0 10px 170px;
  width: 60%;
  height: auto;
  border-radius: 10%;
  transition: transform 0.4s ease;
}

.gambar img:hover {
  transform: scale(1.1);

}




.section_4 h1{
  color: white;
  font-weight: bold;
}

.section_4 h4{
  color: white;
}



.google-maps {
  display: flex;
  align-items: center;
}

.maps-text {
  display: flex;
  align-items: center;
  margin-left: 280px;
  color: white;
}

.maps-text i {
  margin-right: 5px;
}


.contact-us {
  background-color: #03C988 ;
  color: #fff;
  padding: 20px;
}
.hubungi{
  margin-left: 60px;
}

.kolicon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.contact-icon {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #0C2D8A;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.contact-icon:hover {
  background-color: #b91c7a;
}

.contact-icon i {
  margin-right: 10px;
  font-size: 34px;
}

.contact-icon span {
  font-weight: bold;
}

.kolicon{
  margin-top: 20px;
  margin-left: -200px;
}